[user]
	name = Q-Mart
	email = qumarthjash@gmail.com
	signingkey = B37152B12DA49A34
[push]
	default = matching
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[commit]
	gpgsign = true
[include]
	path = ~/.gitconfig.local
