UXTerm.termName: xterm-256color
UXTerm.vt100.metaSendsEscape: true
UXTerm.vt100.backarrowKey: false
UXTerm.ttyModes: erase ^?

URxvt.scrollBar: false
URxvt.cursorBlink: true


! Copy and Paste
UXTerm.vt100.selectToClipboard: true
Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! Colours
! special

*background: #000000
*foreground: #bebebe
*cursorColor: #aa2255

! black + red
*color0: #000000
*color1: #f25a5a
! green + yellow
*color2: #77bb33
*color3: #efc334
! blue + purple
*color4: #5555dd
*color5: #C350FF
! cyan + white
*color6: #5af2ee
*color7: #bebebe
! bright-black + bright-red
*color8: #222222
*color9: #ffbbbb
! bright-green + bright-yellow
*color10: #dcf692
*color11: #f6df92
! bright-blue + bright-purple
*color12: #b2baf6
*color13: #f09fff
! bright-cyan + bright-white
*color14: #5af2ee
*color15: #eeeeee




!Fonts
UXTerm.*.faceName: xft:xos4\ TerminessTTF \Powerline:size=8:antialias=false
/* UXTerm.*.font: 7x13 */
/* URxvt.font: xft:xos4\ Terminess \Powerline:size=8:antialias=false */
/* URxv.font: 7x13 */
/* URxvt.letterSpace: -5 */
URxvt*font: xft:Droid Sans Mono for Powerline:size=10
URxvt*letterSpace: -2

! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: Rasmus Steinke
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
